body{
    font-size: 1.4rem;
}
.navbar-brand{
    font-size: 2.25rem;
}
.btn{
    font-size: 1.4rem;
}
#w0-collapse{
    justify-content: flex-end;
}
.btns-header-list button{
    margin: 0 5px;
}
.search-block{
    margin: 10px auto;
}
.btns-header-list button:last-child{
    margin-right: 0;
}
footer{
    padding: 10px 0;
    background-color: gray;
    color: #fff;
    
}
.footer__menu li a{
    color: #fff;
}
.category-list{
    margin: 20px 15px;
}
.category-list a{
    margin: 0 5px;
}
.category-list .card .card-img{
    height: 100%;
}
.services-list .card .card-img-top{
    height: 170px;
}
.category-links li a{
    color: #000;
    text-decoration: none;
}
.category-links li.active a{
    color: #fff;
}
.sign-in-bl{
    margin: 20px auto;
}
main{
    padding: 20px 0;
}
#w1.navbar-nav li{
    padding: 0;
    margin: 0 5px;
}
#w1.navbar-nav li.btn a{
    padding: 5px 10px;
    color: #fff;
}
#w1.navbar-nav li.btn a:hover,
#w1.navbar-nav li.btn a:focus{
    background-color: transparent;
}